 @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap'); 
 
 @import url('https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat+Alternates&display=swap'); 
 body{
    font-family:Montserrat Alternates ;
    background-color: #131722;
    color: white;
 }

 a , a:hover{
   text-decoration: none;
   color: white;
 }
 .logout{
  cursor: pointer;
  
 }
 .offline{

  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%);
  padding: 30px;
  border-radius:0px 0px 15px 15px;
  z-index: 5666666;
 }



 .pagination a{

cursor: pointer;


}


.overlayer{
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  background-color: rgba(0, 0, 0, 0.905);
  opacity: 0;
  transform: translateY(100%);
  transition: 1s all;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Heebo;
  font-size: 18px;
  letter-spacing: 1px;
  
  
}

.layer{
  overflow: hidden;

}
.layer:hover .overlayer{
  transform: translateY(0);
  opacity: 1;

  
}
.fa-star{
 color: rgb(245,197,24)
}